*, *:before, *:after {
  box-sizing: border-box;
  margin: 10px;
}


/*body of page, sets width of mobile device at 375px;*/
body {
  background-color: #EFEFF4;
  font-size: 10px;
  display: block;
  height: auto;
  width: 375px;
  margin: 0 auto;
}
/*nav bar display*/
.topnav {
  float: auto;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  padding-left
  width: 375px;
  padding-top: 2.75%;
  padding-bottom: 3%;
  color: #007AFF;
}
/*map display*/
.container {
  padding-top: -2%;
}
/*position of h1 to other elements in nav bar*/
h1 {
  margin-top: 0px auto;
  padding-left: 25%;
  padding-right: 26%;
  color: #141111;
}
/*listed items positioning*/
.list  {
  border-bottom: 1px;
  border-style: solid;
}
/*features and position of listed items*/
p {

  display: inline-block;
}
/*chracterstics of p1 displayed*/
.p1 {
  font-size: 1.25em;
  padding-top: 5%;
  padding-left: 2%;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  float: left;
  font-weight: lighter;
  color: #212121;
  height: 50px;
  width: 100px;
  padding: auto;
}
/*chracterstics of p2 displayed*/
.p2 {
  font-size: 1.5em;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 2%;
  margin-right: 2%;
  text-align: left;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  height: 50px;
  width: 180px;

}
/*chracterstics of p3 displayed*/
.p3 {
  font-size: 1.25em;
  padding-top: 4%;
  padding-right: 15%;
  padding-bottom: 2%;
  text-align: left;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  font-variant-caps: normal;
  font-weight: 500;
  float: right;
  margin-left: 4%;
  height: 50px;
  width: 25px;
  padding: auto;
  color: #000;
}

.routes {
  height: 371px;
  overflow-y: scroll;
  background-color: white;
}

.Cottage {
  color: #818181;
  font-style: italic;
}

.Madison {
  color: #818181;
  font-style: italic;
}

.Streeterville {
  color: #818181;
  font-style: italic;
}

.Jackson {
  color: #C70039;
}
